/Informacijos Teorija/compresija/lzw/nbproject/private/
/Informacijos Teorija/compresija/lzw/build/
/Informacijos Teorija/compresija/compression/nbproject/private/
/Informacijos Teorija/compresija/compression/build/
/Informacijos Teorija/compresija/compression/dist/
