/Informacijos Teorija/compresija/lzw/nbproject/private/
/Informacijos Teorija/compresija/lzw/build/
/Informacijos Teorija/compresija/compression/nbproject/private/
/Informacijos Teorija/compresija/compression/build/
/Informacijos Teorija/compresija/compression/dist/
/Informacijos Teorija/compresija/lib/
[BUS] Fizikinis Pasaulio Ivaizdis/Office documents/FPI_2016_vertinimas_JV_SJ_3.pdf
[BUS] Fizikinis Pasaulio Ivaizdis/Office documents/FPI_2016_vertinimas_JV_SJ_3.xlsx
